<DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/website.css" rel="stylesheet" media="all">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="js/signup.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet" media="all">
    </head>
    <%var q = ["How satisfied are you with the value of course content within your major?",
            "How satisfied are you with the online access to required services provided by the campus?",
            "How satisfied are you with the quality of instruction you receive in your classes?",
            "How satisfied are you with the use of technology and media in the classroom by faculty?",
            "How satisfied are you with the availability of faculty to student outside of class?",
            "How satisfied are you with the provision of timely academic feedback by faculty?",
            "How satisfied are you with how fair and unbaised faculty are in their treatment os students?",
            "How satisfied are you with the availability of faculty to student outside of class?"]%>
    <body>
    	 <div class="Main-page">
            <h1>Question</h1>
            <h2>Academics</h2>
            <div id="signup">
            	<%for(var i=1;i<=8;i++) { %>
                <fieldset>
                   <h2 class="fs-title"><%=i%>/8</h2>
                   <h3 class="fs-subtitle"><%=q[i-1]%></h3>
                   <div class="radioButton">   
                           
          			      <p>	
                          <input type="radio" id="test1" name="radio-group<%=i%>" value=1 checked>
                          <label for="test1" >1</label>
                    	</p>
                      <p>
                          <input type="radio" id="test2" name="radio-group<%=i%>" value=2>
                          <label for="test1">2</label>
                      </p>
                      <p>
                          <input type="radio" id="test3" name="radio-group<%=i%>" value=3>
                          <label for="test1" >3</label>
                      </p>
                      <p>
                         <input type="radio" id="test1" name="radio-group<%=i%>" value=4>
                         <label for="test1" >4</label>
                      </p>
                      <p>
                         <input type="radio" id="test1" name="radio-group<%=i%>" value=5 >
                         <label for="test1">5</label>
                      </p>
                    </div>
                    <%if(i!=1){%>
                      <input type="button" value="PREV" class="prev action-button"/>
                    <%}%>
                    <%if(i!=8){%>
                  	 <input type="button" value="Next" class="next action-button"/>
                    <%}else{%>
                     <input type="button" value="Submit" class="submit action-button welcome"/>
                    <%}%>
             	</fieldset>
             	<% } %>
            </div>
            <div class="goBackdiv">
                <button type="button" class="btn btn-lg btn-primary goBack">Go To Profile</button>
            </div>
        <script type="text/javascript">
            var avg = 0;
            $(".submit").click(function(){
                for(var i=1;i<9;i++){
                var check=  $("input:radio[name=radio-group"+i+"]:checked").val();
                avg += +check;
            }
            avg = avg / (i-1);
            console.log(avg);
            alert("Survey submitted\n");
            $.post('/q',{avg:avg},function(){
                    window.location.href="/";
                }
            );
            }); 
            // to do post request for go back
        $(".goBack").click(function(){
            var form = $('<form></form>');
            form.attr("method", "post");
            form.attr("action", "/l");
            $(document.body).append(form);
            form.submit();
        });     
        </script>
        </div>
    </body>
</html>