<DOCTYPE html>
	<html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="css/website.css" rel="stylesheet" media="all">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="js/signup.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link href="css/bootstrap.css" rel="stylesheet" media="all">
        </head>
        <body>
            <div class="upper">
					<div class="info">
						<div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<div class="well well-sm">
									<div class="row">
						
										<div class="col-sm-6 col-md-8">
											<h4><%=data.name%></h4>
											<small><cite title="XXXX,XXXXX"><%=data.rollno%>, <%=data.branch%> <i class="glyphicon glyphicon-bookmark">
											</i></cite></small>
											<p>
												<i class="glyphicon glyphicon-envelope"></i><%=data.email%>
												<br />
												<i class="glyphicon glyphicon-book"></i><a>personal info</a>
												<br />
												<i class="glyphicon glyphicon-phone"></i><%=data.contact%></p>
												<input type="button" class="btn btn-info btn-sm inbox" data-toggle="modal" data-target="#myModal" value="Inbox">
												<input type="button" class="btn btn-info btn-sm edit" value="Edit Profile">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                	<div id="text_slide">
					</div>
					<div id=logout>
							
							<button type="button" class="btn btn-default btn-sm">
							
							<span class="glyphicon glyphicon-log-out logout"></span> Log out
							</button>
					</div>
                
			</div>
			<!-- Modal for inbox -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog ">
				   <div class="modal-content">
					  <div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
							 <h4 class="modal-title">Inbox</h4>
					   </div>
					   <div class="modal-body">
						 <p><%=JSON.stringify(msg)%><p>
					   </div>
					   <div class="modal-footer">
						   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					   </div>
				   </div>
				</div>
			</div>
            <div id="content">
                   <h1>Why Mentors?</h1>
                   <br>
                   <p>Mentoring, at its core, guarantees young people that there is someone who cares about them, assures them they are not alone in dealing with day-to-day challenges, and makes them feel like they matter. Research confirms that quality mentoring relationships have powerful positive effects on young people in a variety of personal, academic, and professional situations. Ultimately, mentoring connects a young person to personal growth and development, and social and economisc opportunity. Yet one in three young people will grow up without this critical asset.</p>    
            </div>
			<div class="Question">
				<h1>Questionnaire</h1>
			</div>
	
		<div class="top-bar">
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
					<a href="campusservice"><img  src="img/campus.jpg" class="img-responsive zoom-img" alt=""/></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
					<a href="instructionaffectiveness">	<img src="img/academic.jpg" class="img-responsive zoom-img" alt=""/>
					</a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
				<img src="img/3.jpg" class="img-responsive zoom-img" alt=""/>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="footer">
			<div class="Location">
			<div class="col-md-6 ">
				<h3>Our Location</h3>
				<p>father Agnel bandra Bandstand<br>
					7208755685/80856962<br>
					frcrce@gmail.com </p>
			<p>Copyright  © 2017 Bhanu Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by ME</p>
			</div>
			</div>
			<div class="col-md-3">
					<div class="Location">
				<h3>Our Services</h3>
				<ul class="our_Services">
					<li><a href="instructionaffectiveness">Questionnaire</a></li>
					<li><a href="campusservice">Campus Service</a></li>
				</ul></div>
			</div>
			<div class="col-md-3">
				<div class="Location">
				<h3>Share with Love</h3>
				<ul class="footer-share">
						<li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="http://google.com"><i class="fa fa-google-plus"></i></a></li>
				</ul>
				</div>
			</div>
		</div>	
	</body>
	
	<script type="text/javascript">
	
	$(".edit").click(function(){
		
		var data=<%- JSON.stringify(data) %>;
		console.log(data);
		var form = $('<form></form>');
              form.attr("method", "post");
			  form.attr("action", "/edit");
			  var hiddenField = document.createElement("input");
			  hiddenField.setAttribute("data",data);
			  form.append(hiddenField);
              $(document.body).append(form);
              form.submit();
               
		
	});
	</script>
</html>